@mixin paragraph {
  p{
   font-size: large;
   font-weight: 800;
   font-style:italic;
  }
 }

 @mixin darkMode($dark:false) {
   @if $dark{
     background-color: darkblue;
   }@else{
     background-color: wheat;
   }
 }